.btn {
  border-radius: 100px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn {
  width: 11.4%;
  border-radius: 100px;
  border: none;
  color: $color-neutral-very-dark-cyan;
  font-family: $font-family-body-cta;
  font-weight: $font-weight-700;
  padding: 0.8rem 1rem;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffff;
}

.intro__section {
  background: url(../images/bg-hero-desktop.svg), $color-neutral-very-pale-cyan;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__btn {
  width: 52%;
  background-color: $color-primary-pink;
  color: #fff;
  padding: 1rem 1rem;
  font-size: 0.8rem;
  font-weight: $font-weight-700;
  font-family: $font-family-body-cta;
}

.huddle-features {
  padding: 10rem 7rem;

  &__heading {
    font-family: $font-family-headings;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #00252e;
  }

  &__description {
    font-family: $font-family-body-cta;
    font-size: $font-size-body;
    line-height: 1.5;
    color: $color-neutral-grayish-blue;
  }

  &__content {
    width: 65%;
  }

  &__illustration {
    width: 50%;

    img {
      display: block;
      width: 100%;
    }
  }
}
