.header {
  &__btn {
    flex-basis: 10%;
    border-radius: 100px;
    border: none;
    font-family: $font-family-body-cta;
    font-weight: $font-weight-700;
    box-shadow: 0 3px 11px rgba($color: #000000, $alpha: 0.1);
  }
}
