.intro__section {
  padding: 5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.hero {
  display: flex;
  align-items: center;

  &__left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__illustration {
    width: 40%;
  }
}
