.intro__section {
  padding: 4rem 6rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;

  &__logo {
    margin-right: auto;
  }
}

.hero {
  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-right: 10rem;
  }

  &__illustration {
    width: 60%;
    display: flex;
    align-items: center;

    img {
      display: block;
      width: 100%;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  place-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}
