.btn {
  font-family: $font-family-body-cta;
}

.btn-hero-header {
  font-family: $font-family-body-cta;
  font-size: 0.7rem;
  font-weight: $font-weight-700;
  color: #00252e;
}

.btn-hero-content {
  font-family: $font-family-body-cta;
  font-size: 0.9rem;
  font-weight: $font-weight-700;
  color: #ffff;
}

.hero {
  &__content {
    &-heading {
      font-size: 1.2rem;
      font-family: $font-family-headings;
    }

    &-text {
      font-size: 1rem;
      font-family: $font-family-body-cta;
      line-height: 1.5;
    }
  }
}
