.hero {
  &__heading {
    font-family: $font-family-headings;
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
  }

  &__description {
    font-family: $font-family-body-cta;
    font-size: 1.13rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
}

.your-users-desc {
  max-width: 47ch;
}
